In [ ]:
#1.i)
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
#1.ii)
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
#1.iii)
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
#1.iv)
L.reverse()
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
#2.i)
scores=(45,89.5,76,45.4,89,92,58,45)
a=max(scores)
b=scores.index(a)
print(b)

5

In [ ]:
#2.ii)
a=min(scores)
b=scores.count(a)
print(b)

2

In [ ]:
#2.iii)
lista=list(scores)
lista.reverse()
scores=tuple(lista)
print(lista)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [ ]:
#2.iv)
scores=(45,89.5,76,45.4,89,92,58,45)
t=1
num=int(input("enter the number"))
for i in range(0,8):
  if(scores[i]==num):
    t=0
    print(scores.index(num))
    break
if(t==1):
  print("not present")

enter the number76
2

In [7]:
#3
import random
l=[]
for i in range(0,100):
  l.append(random.randint(100,900))
print(l)
#i)
total_odd=0
listofodd=[]
for i in range(0,100):
  if(l[i]%2!=0):
    total_odd=total_odd+1
    listofodd.append(l[i])
print(" count of all odd numbers is:",total_odd)
print("all odd numbers are:",listofodd)

[787, 786, 653, 427, 161, 491, 837, 259, 734, 330, 576, 264, 378, 410, 573, 484, 716, 742, 480, 615, 563, 353, 449, 272, 124, 514, 814, 833, 426, 298, 414, 296, 593, 516, 190, 490, 514, 278, 136, 479, 170, 577, 336, 536, 222, 480, 824, 718, 822, 447, 464, 545, 151, 248, 809, 511, 805, 108, 178, 621, 127, 677, 400, 268, 255, 112, 692, 229, 117, 824, 493, 846, 824, 678, 683, 456, 835, 794, 651, 280, 726, 668, 153, 216, 426, 365, 537, 477, 140, 780, 111, 850, 207, 196, 144, 209, 354, 855, 144, 239]
 count of all odd numbers is: 41
all odd numbers are: [787, 653, 427, 161, 491, 837, 259, 573, 615, 563, 353, 449, 833, 593, 479, 577, 447, 545, 151, 809, 511, 805, 621, 127, 677, 255, 229, 117, 493, 683, 835, 651, 153, 365, 537, 477, 111, 207, 209, 855, 239]

In [8]:
#3.ii)
total_even=0
listofeven=[]
for i in range(0,100):
  if(l[i]%2==0):
    total_even=total_even+1
    listofeven.append(l[i])
print(" count of all even numbers is:",total_even)
print("all even numbers are:",listofeven)

 count of all even numbers is: 59
all even numbers are: [786, 734, 330, 576, 264, 378, 410, 484, 716, 742, 480, 272, 124, 514, 814, 426, 298, 414, 296, 516, 190, 490, 514, 278, 136, 170, 336, 536, 222, 480, 824, 718, 822, 464, 248, 108, 178, 400, 268, 112, 692, 824, 846, 824, 678, 456, 794, 280, 726, 668, 216, 426, 140, 780, 850, 196, 144, 354, 144]

In [9]:
#3.iii)

prime_count=0
listofprime=[]
for i in range(0,100):
  t=0
  for j in range(2,i):
    if(l[i]%j==0):
      t=1
  if(t==0):
    prime_count=prime_count+1
    listofprime.append(l[i])
print(" count of all prime numbers is:",prime_count)
print("all primr numbers are:",listofprime)

 count of all prime numbers is: 20
all primr numbers are: [787, 786, 653, 427, 161, 491, 259, 563, 353, 449, 593, 479, 577, 151, 809, 127, 677, 229, 683, 239]

In [4]:
#4.i)
A={34,56,78,90}
B={78,45,90,23}
A.union(B)

{23, 34, 45, 56, 78, 90}

In [5]:
#4.ii)
print("scores common to both team:")
A.intersection(B)

scores common to both team:

{78, 90}

In [6]:
#4.iii)
print("scores exclusive to a and b:",A.symmetric_difference(B))

scores exclusive to a and b: {34, 45, 23, 56}

In [11]:
#4.iv)
subset_check=A.issubset(B)
superset_check=B.issuperset(A)
print("is a subset of b??",subset_check)
print("is b superset of a??",superset_check)

is a subset of b?? False
is b superset of a?? False

In [14]:
#4.v)
X=int(input("enter the number"))
if X in A:
  A.remove(X)
else:
  print("not present")

enter the number23
not present

In [21]:
#5)
sample_dict={"name":"kelly",
             "age":25,
             "salary":8000,
             "city":"New york"
             }
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}