In [1]:
print("Anshika")
print("Anshika")
print("Anshika")

Anshika
Anshika
Anshika

In [3]:
a=5
b=4
c=1
d=a+b+c
print("a+b+c=",d)

a+b+c= 10

In [6]:
a="student"
b="anshika"
c="ahuja"
d=a+b+c
print(d)

studentanshikaahuja

In [7]:
for i in range(1,11):
 print(7,"*",i,"=",7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [8]:
for i in range(1,11):
 print(9,"*",i,"=",9*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [12]:
n=int(input("enter number"))
for i in range(1,11):
 print(n,"*",i,"=",n*i)

enter number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [15]:
n=int(input("enter number"))
s=0
for i in range(1,n+1):
  s=s+i
print("sum of numbers is:",s)

enter number10
sum of numbers is: 55

In [25]:
n1=int(input("enter number1"))
n2=int(input("enter number2"))
n3=int(input("enter number3"))
if(n1>n2):
  if(n1>n3):
    print(n1,"is greatest")
  else:
    print(n3,"is greatest")
else:
  if(n2>n3):
    print(n2,"is greatest")
  else:
    print(n3,"is greatest")

enter number14
enter number25
enter number36
6 is greatest

In [26]:
max(4,5,6)

6

In [34]:

s=0
n=int(input("enter number"))
for i in range(1,n+1):
  if(i%7==0++i%9==0):
    s=s+i
print(s)

enter number90
63

In [62]:
s=0

n=int(input("enter number"))
for i in range(1,n+1):
  t=0
  for j in range(2,i):
    if(i%j==0):
      t=1
      break
  if(t==0):
    s=s+i

print(s)

enter number9
18

In [48]:
def AddN(n):
  s=0
  for i in range(1,n+1):
    if(i%2!=0):
      s=s+i
  return s
n=int(input("enter number"))
print(AddN(n))

enter number11
36

In [63]:
def Add(n):
  s=0

  for i in range(1,n+1):
    t=0
    for j in range(2,i):
      if(i%j==0):
        t=1
        break
    if(t==0):
      s=s+i
  return s
n=int(input("enter number"))
print(Add(n))

enter number11
29